.foot_main{
    width: 100%;
    height: 40vh;
    background-color: pink;
    display: flex;
    align-items: center;
}

.foot_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 100px;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.icon:hover{
    color: white;
    transform: scale(1.2);
    cursor: pointer;
}

.foot_ico{
    font-size: 1.5rem;
}





@media (max-width:767px) {
  
    .foot_main{
        height: 60vh;
        justify-content: center;

    }
    .foot_box{
        flex-direction: column;
        gap: 30px;
        width: 20%;
        height: 90%;
    }
}



@media (min-width:767px) and  (max-width:1400px) {

    .foot_main{
        height: 60vh;
        justify-content: center;

    }
    .foot_box{
        flex-direction: column;
        gap: 30px;
        width: 20%;
        height: 90%;
       
    }
}


@media (min-width:768px) and  (max-width:1400px) {

    
}




@media (min-width:820px) and  (max-width:1400px) {
 
  
}



@media (min-width:1280px) and  (max-width:1500px) {
 
}

