.bt{
    border: 3px outset whitesmoke;
    width: auto;
    height: auto;
    background-color: white;
    position: relative;
    left: 1400px;
    top: -600px;
    border-radius: 5px;

}

.bt_text{
    font-size: 1.2rem;
}

.bt:hover{
    background-color: lightgray;
    cursor: pointer;
}



@media (max-width:767px) {
.bt{
    position: relative;
    left: 272px;
}

}



@media (min-width:767px) and  (max-width:1400px) {
  .bt{
    position: relative;
    left: 272px;
}

}


@media (min-width:768px) and  (max-width:1400px) {
.bt{
    position: relative;
    left: 600px;
}
 
}




@media (min-width:820px) and  (max-width:1400px) {
 .bt{
    position: relative;
    left: 700px;
}

}


@media (min-width:1280px) and  (max-width:1500px) {
 .bt{
    position: relative;
    left: 272px;
}
}

